html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
}

.features h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.features-adv h3 {
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
  position: relative;
  border-top: 1px solid transparent;
}

.main-navigation .menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  width: 239px;
  min-height: 56px;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 13px 0;
}

.main-navigation li:nth-of-type(2) {
  margin-right: 244px;
  padding-left: 8px;
}

.main-navigation li:nth-of-type(4) {
  padding-left: 18px;
}

.main-navigation a {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.main-navigation a:hover:not(.active) {
  color: #81b3d2;
}

.main-navigation a:active:not(.active) {
  color: #000000;
  opacity: 0.3;
}

.main-navigation .active {
  color: #766357;
}

.logo {
  position: absolute;
  left: 50%;
  top: -1px;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.picture {
  width: 1200px;
  height: 508px;
  margin: 0;
  padding: 0;
}

.features-title {
  display: block;
  width: 560px;
  margin: 59px auto;
  margin-bottom: 52px;
}

.features-title h2 {
  margin-bottom: 30px;
  line-height: 26px;
}

.features-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
}

.features-item:not(.item-2) {
  margin-bottom: 60px;
}

.features-item.item-1 {
  color: #000000;
  background-color: #f2c8c7;
  background-image: url(../img/feature-1.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.features-item.item-2 {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #000000;        
  background-color: #f2c8c7;
  background-image: url("../img/feature-2.jpg");
  background-repeat: no-repeat;
  background-position: left;
}
.features-item .item-title {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}

.item-1 .item-title {
  padding: 32px 60px;
}

.item-2 .item-title {
  padding: 30px 40px;
}

.item-title h2 {
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 25px;
  color: #ffffff;
}

.item-title p,
.item-info p {
  margin-top: 20px;
}

.features-adv {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.features-adv h3 {
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.features-item-adv {
  position: relative;
  width: 400px;
  padding-top: 80px;
  padding-bottom: 68px;
}

.features-item-adv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37.5px;
  width: 75px;
  height: 76px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.features-adv .adv-1 {
  padding-right: 71px;
  padding-left: 71px;
}

.features-item-adv.adv-1::before {
  background-position: -20px -559px;
}

.features-adv .adv-2 {
  padding-right: 57px;
  padding-left: 57px;
}

.features-item-adv.adv-2::before {
  background-position: -20px -392px;
}

.features-adv .adv-3 {
  padding-right: 62px;
  padding-left: 62px;
}

.features-item-adv.adv-3::before {
  top: -3px;
  margin-left: -34px;
  background-position: -20px -1029px;
}

.features-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
}

.features-info .item-info {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.item-info h2 {
  width: 130px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features-info .info-1 {
  padding-right: 95px;
  padding-left: 95px;
}

.features-info .info-2 {
  padding-right: 68px;
  padding-left: 68px;
}

.features-info .info-3 {
  padding-right: 68px;
  padding-left: 68px;
}

.hotel-search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.hotel-search .title {
  margin-top: 54px;
  margin-bottom: 28px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.hotel-search p:not(.title) {
  line-height: 24px;
}

.hotel-search fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  vertical-align: top;  
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background-color: #766357;
}

.btn-hotel {
  min-width: 568px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal-hotel {
  display: none;
  position: absolute;
  padding: 55px;
  width: 568px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-hotel-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(-86px);transform: translateY(-86px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {-webkit-transform: translateY(-86px);transform: translateY(-86px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-hotel input[type="text"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.arrival-container,
.exit-container {
  position: relative;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrival-container input[type="text"],
.exit-container input[type="text"] {
  position: relative;
  width: 346px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  padding-right: 27px;
  border: 2px solid transparent;
}

.arrival-container input[type="text"]:hover,
.exit-container input[type="text"]:hover {
  background-color: #ebebeb;
}

.arrival-container input[type="text"]:active,
.exit-container input[type="text"]:active {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.calendar {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 21px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: -20px -82px;
  border: none;
  opacity: 0.2;
}

.calendar:hover {
  opacity: 1;
}

.calendar:active {
  background-position: -20px -20px;
  border: none;
}

.arrival-container label,
.exit-container label,
.half-width label {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.half-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.half-width-2 label {
  margin-left: 50px;
}

.half-width input[type="text"] {
  width: 38px;
  text-align: center;
}

.amount {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
}

.amount span {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.amount .plus,
.amount .minus {
  position: relative;
}

.amount .plus::before,
.amount .minus::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.amount .plus::before {
  background-position: -20px -978px;
  opacity: 0.3;
}

.amount .minus::before {
  top: 17px;
  background-position: -20px -884px;
  opacity: 0.3;
}

.amount .plus:hover::before,
.amount .minus:hover::before {
  opacity: 1;
}

.amount .plus:active::before {
  background-position: -20px -927px;
}

.amount .minus:active::before {
  background-position: -20px -841px;
}

.btn-form {
  width: 100%;
  margin-top: 23px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #81b3d2;
  border: none;
}

.btn-form:hover {
  background-color: #669ec0;
}

.btn-form:active {
  color: rgba(255, 255 , 255, 0.3);
  background-color: #5496bd;
}

.map {
  width: 1200px;
  height: 593px;
  margin-bottom: -120px;
  background-color: #98fb98;
  background-image: url("../img/map.png");
}

.select {
  background-color: #2a3e47;
  background-image: url("../img/filter-background.png");
  background-repeat: no-repeat;
  background-position: 0 -56px;
  color: #ffffff;
}

.select-hotels {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 72px;
  padding-bottom: 30px;
}

.select-item {
  margin-right: 110px;
  text-align: left;
}

.select-item h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.select-item p {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-left: 40px;
}

.select-item input {
  display: none;
}

.select-item input + label {
  position: relative;
}

.select-item input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 26px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
  background-position: -20px -268px;
}

.select-item input:checked + label::before {
  background-position: -20px -144px;
}

.select-item input:disabled + label::before {
  background-position: -20px -330px;
}

.select-item input:checked:disabled + label::before {
  background-position: -20px -206px;
}

.range-select-item {
  width: 318px;
  margin-left: auto;
  text-align: left;
}

.range-select-item h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  padding-top: 5px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 153px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  font: inherit;
  border: none;
  color: inherit;
  background: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.toogle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toogle-min {
  left: 0;
}

.toogle-max {
  left: 80%;
}

.toggle:hover {
  background: #1c4f80;
}

.btn-submit {
  padding: 6px 29px;
  margin-left: 86px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.btn-submit:hover {
  color: #000000;
  background: #ffffff;
}

.list-filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-right: 72px;
  padding-left: 72px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid #e5e5e5;
}

.list-filter b {
  margin-right: 47px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.list-filter span {
  margin-right: 40px;
}

.filter-types {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-types li {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.filter-types li:last-of-type {
  margin-right: 0;
}

.filter-types a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.filter-types a:hover {
  color: #81b3d2;
}

.filter-types a:active {
  color: #000000;
  border-bottom: none;
  opacity: 1;
}


.filter-types .active {
  color: #81b3d2;
  border-bottom: none;
}

.filter-pointers {
  margin-left: auto;
  padding: 0;
}

.filter-pointers a {
  margin-left: 12px;
}

.arrow::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  border: 10px solid #000000;
  border-right-width: 5.5px;
  border-left-width: 5.5px;
  border-right-color: transparent;
  border-left-color: transparent;
  opacity: 0.2;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow:hover::before {
  opacity: 1;
}

.arrow.active::before {
  border-top: 10px solid #81b3d2;
  opacity: 1;
}

.arrow-up:active::before {
  border-bottom: 10px solid #81b3d2;
  opacity: 1;
}

.arrow-down:active::before {
  border-top: 10px solid #81b3d2;
  opacity: 1;
}

.hotel-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 19px;
  padding-right: 72px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}

figure {
  margin: 0;
}

.hotel-item img {
  width: 135px;
  height: 90px;
}

.hotel-item .hotel-photo {
  width: 135px;
  padding: 5px 0;
  margin-right: 30px;
}

.hotel-item .description {
  width: 258px;
  padding: 0;
  text-align: left;
}

.description a {
  text-decoration: none;
}

.description h2 {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  line-height: 26px;
  color: #000000;
  cursor: pointer;
}

.description h2:hover {
  color: #81b3d2;
}

.description h2:active {
  color: #000000;
  opacity: 0.3;
}

.description span:first-of-type {
  display: inline-block;
  vertical-align: top;
  min-width: 96px;
  margin-right: 16px;
}

.btn-details,
.btn-booking {
  margin-top: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;
  border: none;
}

.btn-details {
  margin-right: 3px;
  background-color: #81b3d2;
}

.btn-details:hover {
  background-color: #669ec0;
}

.btn-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-booking:hover {
  background-color: #604e43;
}

.btn-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-item .hotel-rating {
  width: 120px;
  margin-left: auto;
  padding-top: 5px;
  text-align: right;
}

.hotel-rating .stars {
  width: auto;
  height: 17px;
  margin-bottom: 47px;
  background-color: transparent;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-rating .four-stars {
  background-position: 11px -502px;
}

.hotel-rating .three-stars {
  background-position: 35px -1145px;
}

.hotel-rating .two-stars {
  background-position: 58px -1202px;
}

.hotel-rating .rating-value {
  display: inline-block;
  vertical-align: top;
  padding: 3px 13px;
  color: #666666;
  background-color: #f2f2f2;
}

.page-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 72px;
  background-color: #ffffff;
  opacity: 0.9;
}

.page-footer section {
  width: 240px;
}

.tags {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  padding-left: 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 2px;
  vertical-align: top;
  background-color: #81b3d2;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -5px;
  width: 20px;
  height: 20px;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active::before {
  background-color: #5496bd;
  opacity: 0.3;
}

.social-twit::before {
  margin-left: -8px;
  background-position: -20px -730px;
}

.social-fb::before {
  margin-top: -3px;
  background-position: -20px -671px;
}

.social-youtube::before {
  margin-left: -10px;
  background-position: -20px -785px;
}

.copyright {
  padding-top: 6px;
  padding-right: 12px;
}

.copyright span,
.copyright a {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
}

.copyright span {
  position: relative;
  top: -1px;
  right: 3px;
}

.copyright a {
  width: 113px;
  height: 39px;
  background-color: transparent;
  background-image: url("../img/html-logo-peace.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.copyright a:hover {
  background-image: url("../img/html-logo-hover.png");
}

.copyright a:active {
  background-image: url("../img/html-logo-peace.png");
  opacity: 0.4;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-calendar-active {
  width: 21px;
  height: 22px;
  background-position: -20px -20px;
}

.sprite-calendar-hover {
  width: 21px;
  height: 22px;
  background-position: -20px -82px;
}

.sprite-checkbox-checked {
  width: 26px;
  height: 22px;
  background-position: -20px -144px;
}

.sprite-checkbox-checked-disabled {
  width: 26px;
  height: 22px;
  background-position: -20px -206px;
}

.sprite-checkbox-empty {
  width: 22px;
  height: 22px;
  background-position: -20px -268px;
}

.sprite-checkbox-empty-disabled {
  width: 22px;
  height: 22px;
  background-position: -20px -330px;
}

.sprite-eat {
  width: 74px;
  height: 70px;
  background-position: -20px -392px;
}

.sprite-five-stairs {
  width: 89px;
  height: 17px;
  background-position: -20px -502px;
}

.sprite-house {
  width: 75px;
  height: 72px;
  background-position: -20px -559px;
}

.sprite-icon-fb {
  width: 10px;
  height: 19px;
  background-position: -20px -671px;
}

.sprite-icon-twit {
  width: 17px;
  height: 15px;
  background-position: -20px -730px;
}

.sprite-icon-youtube {
  width: 20px;
  height: 16px;
  background-position: -20px -785px;
}

.sprite-minus-active {
  width: 12px;
  height: 3px;
  background-position: -20px -841px;
}

.sprite-minus-hover {
  width: 12px;
  height: 3px;
  background-position: -20px -884px;
}

.sprite-plus-active {
  width: 11px;
  height: 11px;
  background-position: -20px -927px;
}

.sprite-plus-hover {
  width: 11px;
  height: 11px;
  background-position: -20px -978px;
}

.sprite-souvenirs {
  width: 64px;
  height: 76px;
  background-position: -20px -1029px;
}

.sprite-three-stairs {
  width: 65px;
  height: 17px;
  background-position: -20px -1145px;
}

.sprite-two-stairs {
  width: 42px;
  height: 17px;
  background-position: -20px -1202px;
}